# App Config
VITE_APP_ENV=production
VITE_SYNC_INTERVAL=30000

# BRANCH IDENTITY (Default)
NEXT_PUBLIC_BRANCH_ID=101
NEXT_PUBLIC_BRANCH_CODE=JKT-001
NEXT_PUBLIC_BRANCH_NAME="Alfamart Jakarta Timur"
NEXT_PUBLIC_REGION_NAME="JABODETABEK"

# 1. LOCAL DATABASE (PostgreSQL) - For POS Operations
# Host: localhost (User's machine)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=retail_local_pos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_POOL_MODE=session

# 2. CLOUD DATABASE (TiDB) - For Global Transactions
# Host: gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=iMYSxF9tHg4k92j.root
TIDB_PASSWORD=tidb_secure_pass_placeholder_need_user_input
TIDB_DATABASE=retail_cloud_hq
TIDB_SSL=true

# 3. IDENTITY DATABASE (Supabase) - For Auth & User Management
# Host: aws-1-ap-southeast-1.pooler.supabase.com
SUPABASE_DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres.izefsylukeytuihqjete
SUPABASE_DB_PASSWORD=supabase_secure_pass_placeholder
SUPABASE_URL=https://izefsylukeytuihqjete.supabase.co
SUPABASE_ANON_KEY=public_anon_key_placeholder
